body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #ffc34e, #faf5aa);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #492c07;
  transition: background-color 0.3s;
}

.navbar-brand img {
  max-height: 100px;
  width: auto;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
  color: white !important;
}

.nav-link:hover {
  color: #ff6347 !important;
  transform: scale(1.1);
}

.nav-item.active .nav-link {
  color: #ff6347 !important;
  font-weight: bold;
}

.card-body {
  background-color: #331f06;
  color: white;
}

.card.custom-card {
  transition: transform 0.3s ease;
}

.card.custom-card:hover {
  transform: scale(1.02);
}

.btn {
  background-color: black;
  border-color: white;
}

.btn:hover {
  color: black;
  background-color: #cb7d18;
  border-color: black;
}

.custom-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.custom-link {
  color: white;
  text-decoration: none;
}

.custom-link:hover {
  color: gray;
}

.form-control {
  font-weight: normal;
}

.menu-container {
  width: 100%;
  height: calc(100vh - 112px);
  overflow-y: auto;
}

.menu-image {
  width: 100%;
  height: auto;
}

h2,
h3,
h4 {
  font-family: "Dancing Script", cursive;
}

.table {
  margin-top: 20px;
}

.table thead th {
  background-color: #492c07;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-bordered {
  border: 1px solid #492c07;
}

/* Additional styles for admin dashboard */

.card.bg-info {
  background-color: #17a2b8 !important;
}

.card.bg-success {
  background-color: #28a745 !important;
}

.card.bg-warning {
  background-color: #ffc107 !important;
}

.card.bg-primary {
  background-color: #007bff !important;
}

.card-body h5.card-title {
  font-size: 1.25rem;
}

.card-body p.card-text {
  font-size: 1rem;
}
